<h2>Welcome, {{user_name}}!</h2>
<p>Please Select A Team You Wish To View:</p>

<div class="d-flex p-2">
  {{#each teams as |team|}}
  {{> team-details}}
  {{/each}}
</div>

<script src="/js/homepage-formHandlers.js"></script>