<h2>Welcome, Zachary</h2>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="card-text">Current Record for PHX Valor is 2 Wins 2 Loses.</p>
  </div>
</div>

<h2>Upcoming Events</h2>
<div class="card" style="width: 25rem;">
  <div class="card-header">
    Future Events
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Event 1</li>
    <li class="list-group-item">Event 2</li>
    <li class="list-group-item">Event 3 </li>
  </ul>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Daily Reminder</strong> Make sure to check Roster against Team IX.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>