<div class="text-center">
  <h2>Welcome, {{user_name}}!</h2>
  <p>Please Select A Team You Wish To View:</p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createteammodal">
    Create Team
  </button>
</div>

<div class="container-fluid row justify-content-center m-3">
  {{#each teams as |team|}}
  {{> team-details}}
  {{/each}}
</div>



<!-- Modal -->
<div class="modal fade" id="createteammodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Team</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form createTeam-form">
          <div class="form-group">
            <label for="teamname-create">Input Team Name</label>
            <input class="form-input" type="text" id="teamname-create" />
          </div>
         
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="/js/homepage-formHandler.js"></script>