
<style>
  
  body {
    font-family: sans-serif;
  
  }
  table,
  th,
  td {
    border: 20px black;
    border-collapse: collapse;
    padding: 40px;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
  tr:nth-child(even) {
    background-color: firebrick;
  }
  th {
    background-color: darkgray;
    color: white;
  }
</style>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">PHX Valor Record</h1>
      <h1 class="teamname" {{teamName}}></h1>
      <p> Team ID</p>
      <p id="team_id">{{id}}</p>
      <p>{{teamWins}} Wins {{teamLosses}} Loses</p>
    </div>
  </div>

  <div class="table-content">
    <table
      class="table table-borded table-responsive table-striped"
      id="table-list"
    >
      <thead class="table-dark">
        <tr>
          <td>Name</td>
          <td>ID</td>
          <td>Birth Date</td>
          <td>Payer Number</td>
          <td>Position</td>
          <td>Player Notes</td>
        </tr>
      </thead>
      <tbody>
        {{#each players as |player|}}
        {{> player-details}}
        {{/each}}

      </tbody>
    </table>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createeventmodal">
  Create Team
</button>

<!-- Modal -->
<div class="modal fade" id="createeventmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form createevent-form">
          <div class="form-group">
            <label for="eventname-create">Input Event Name</label>
            <input class="form-input" type="text" id="eventname-create" />
          </div>
          <div class="form-group">
            <label for="eventtype-create">Input Event Type</label>
            <input class="form-input" type="text" id="eventtype-create" />
          </div>
          <div class="form-group">
            <label for="eventDate-create">Input Event Date</label>
            <input class="form-input" type="text" id="eventDate-create" />
          </div>
         
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createplayermodal">
  Create Player
</button>

<!-- Modal -->
<div class="modal fade" id="createplayermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Player</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form createplayer-form">
          <div class="form-group">
            <label for="firstname-create">Input Player First Name</label>
            <input class="form-input" type="text" id="firstname-create" />
          </div>
          <div class="form-group">
            <label for="lastname-create">Input Player Last Name</label>
            <input class="form-input" type="text" id="lastname-create" />
          </div>
          <div class="form-group">
            <label for="birthdate-create">Input Player Birthdate</label>
            <input class="form-input" type="text" id="birthdate-create" />
          </div>
          <div class="form-group">
            <label for="playNum-create">Input Player Number</label>
            <input class="form-input" type="text" id="playNum-create" />
          </div>
          <div class="form-group">
            <label for="playPos-create">Input Player Position</label>
            <input class="form-input" type="text" id="playerPos-create" />
          </div>
          <div class="form-group">
            <label for="playNotes-create">Input Player Notes</label>
            <input class="form-input" type="text" id="playNotes-create" />
          </div>
         
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/team-formHandler.js"></script>
