
<style>
  
  body {
    font-family: sans-serif;
  
  }
  table,
  th,
  td {
    border: 20px black;
    border-collapse: collapse;
    padding: 40px;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }
  tr:nth-child(even) {
    background-color: firebrick;
  }
  th {
    background-color: darkgray;
    color: white;
  }
</style>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">PHX Valor Record</h1>
      <h1 class="teamname" {{teamName}}></h1>
      <p> Team ID</p>
      <p class="team_id">{{id}}</p>
      <p>{{teamWins}} Wins {{teamLosses}} Loses</p>
    </div>
  </div>

  <div class="table-content">
    <table
      class="table table-borded table-responsive table-striped"
      id="table-list"
    >
      <thead class="table-dark">
        <tr>
          <td>Name</td>
          <td>ID</td>
          <td>Birth Date</td>
          <td>Payer Number</td>
          <td>Position</td>
          <td>Player Notes</td>
        </tr>
      </thead>
      <tbody>
        {{#each players as |player|}}
        {{> player-details}}
        {{/each}}

      </tbody>
    </table>

    <div class="row justify-content-around" style="width: 30rem;">
      <div class="border border-secondary">
        <h5 class="card-title">PHX Valor PlayBook</h5>
        <p class="card-text">Click the link below to review the Playbook</p>
        <a href="#" class="card-link">Click Here</a>
      </div>
    </div>

    {{!-- <script>
      var table = document.getElementById("table-list");
      var cells = table.getElementsByTagName("td");

      for (var i = 0; i < cells.length; i++) {
        cells[i].onclick = function () {
          if (this.hasAttribute("data-clicked")) {
          }
          this.setAttribute("date-clicked", "yes");
          this.setAttribute("data-clicked", this.innerHTML);

          var input = document.createElement("input");
          input.setAttribute("type", "text");
          input.value = this.innerHTML;
          input.style.width = this.offsetWidth - this.clientLeft * 2 + "px";
          input.style.height = this.offsetHeight - this.clientTop * 2 + "px";
          input.style.border = "0px";
          input.style.fontFamily = "inherit";
          input.style.fontSize = "inherit";
          input.style.textAlign = "inherit";
          input.style.backgroundColor = "white";

          input.onblur = function () {
            var td = input.parentElement;
            var orig_text = input.parentElement.getAttribute("data-text");
            var current_text = this.value;

            if (orig_text != current_text) {
              //there are changes in the cell's text
              //save to database with Ajax
              td.removeAttribute("data-clicked");
              td.removeAttribute("data-text");
              td.innerHTML = current_text;
              td.style.cssText = "padding: 5px";
              console.log(orig_text + "is changed to" + current_text);
            } else {
              td.removeAttribute("data-clicked");
              td.removeAttribute("data-text");
              td.innerHTML = orig_text;
              td.style.cssText = "padding: 5px";
              console.log("No Changes Made");
            }
          };
          input.onkeypress = function () {
            if (event.key === "Enter") {
              this.blur();
            }
          };

          this.innerHTML = "";
          this.style.cssText = "padding: 0px 0px";
          this.append(input);
          this.firstElementChild.select();
        };
      }

      console.log(cells);
    </script> --}}
  </div>

  <script src="/js/team-formHandler.js"></script>

